# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# SQLite databases
*.db
*.sqlite3

# Project specific
data/faces/*
!data/faces/.gitkeep
attendance.db
